nav {
    position: fixed;
    width: 100%;
    padding: var(--set-spacing);
    z-index: 100;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .navList {
            display: flex;
            gap: 30px;
        }
    }
}


@media screen and (max-width: 700px) {
    nav {
        position: fixed;
        width: 100%;
        padding: var(--set-spacing);

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;

            .navList {
                display: none;
                gap: 30px;
            }

            .navAction {
                display: none;
            }

            .hamBox {
                height: 40px;
                width: 40px;
            }
        }

        .hamList {
            position: absolute;
            height: 70vh;
            width: 100%;
            left: 0;
            background: white;
            padding: var(--set-spacing);
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 40px;
            /* display: none; */

            ul{
                a{
                    display: block;
                    font-size: 1.7rem;
                    width: 100%;
                }
            }
        }
    }
}